@charset "utf-8";

body {
  background: #f0f2f5;
  color: #333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.inner-wrapper {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#title img {
  width: 150px;
  margin-bottom: 20px;
}

.login-container {
  width: 320px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  background-color: #eee;
  padding: 12px;
  border-radius: 5px 0 0 5px;
  color: #888;
  font-size: 18px;
}

#login input[type="text"],
#login input[type="password"] {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0 5px 5px 0;
  color: #333;
  padding: 12px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}

#login-button {
  background: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
  margin-top: 10px;
  height:1.5rem
}

#login-button:hover {
  background: #0056b3;
}

p {
  margin-top: 20px;
  color: #555;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
