html{
overflow-y: hidden;
      height: 100%;
}

body {
  height: 100%;
  margin: 0;
}
#sotowaku {
  height: 100%;
}
#titlediv{
   height:5%;
   background-color: #222222;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
}
#gym-name{
color:white;
width: 40%;
height: 90%;
  font-size: 3vh;
  text-align: right;

}
#titlemain{
  width: 60%;
  text-align: left;
  margin-left: 0;
  font-size: 2Vh;
  color:lightgray;
}

#maindiv{
  height:98%;
  background-color: darkgray;
}
#settings-row{
  width: 100%;
  height:7%;
}
#first-row{
  width: 100%;
  height:5%;
  display:flex;
  margin-top: 5px;
}
.sechedule-day{
  width: 14%;
  height:90%;
  background-color: 	#666666;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  color: white;
  font-size: 3vh;
  vertical-align: middle;
}

#second-row{
  height: 14%;
  width: 100%;
  display: flex;

}
#second-row-5{
  height: 14%;
    width: 100%;
  display: flex;
}
#third-row{
  height: 14%;
    width: 100%;
  display: flex;
}
#fourth-row{
  height: 14%;
    width: 100%;
  display: flex;
}
#fifth-row{
  height: 14%;
    width: 100%;
  display: flex;
}
#sixth-row{
  height: 14%;
    width: 100%;
    display: flex;
}
#settings-row{
  display: flex;
  margin-right: 10px;
}
#calendar-title{

  width:60%;
  font-size: 5vh;
  display: flex;
  justify-content: flex-start;
}
#settings-button{
height: 100%;
  width:40%;
  display: flex;
  justify-content: flex-end;
padding-right: 30px;
}
.setting-right-button:hover{
  box-shadow: 0 5px 10px white;
}

#img{
  margin-right: 20px;
   cursor: pointer;
}

.sweet-alert-acess{
  height: 300px;
}




#update-time{
  background-color: orange;
}

#img2{
 cursor: pointer;
 margin-top: 3px;
}
.sechedule-time{
  margin-top: 0;
  margin-bottom: 0;
  background-color: orange;
  height: 30%;
  color:#444444;

  width: 100%;
  font-size: 1em;
}
.sechedule-div{
  width: 100%;
  height: 70%;
    margin-top: 0;
  display: flex;
  background-color: white;
  color:black;

}
.sechedulename{
  font-size: 0.8em;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 50%;
}

.title-image-div{
  width: 100%;

}
.master-image{

}

.sechedule{
  background-color: red;
  width: 14%;
}

.sechedule{
  width: 14%;
  height:90%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  color: white;
  font-size: 3vh;
  vertical-align: middle;
}
@media screen and (min-width: 1100px) and (max-width: 1300px) {
  .sechedule-day{
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 5px;
    font-size: 1em;
  }
  .master-image{

  }
  .sechedulename{
    font-size: 0.6em;
  }
  .sechedule-time{
    padding-top: 10px;
      font-size: 0.8em;
      word-wrap: break-word;;
  }
  .sechedule{
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
  }
  .sechedule-div{
    width: 100%;
  }
  .setting-right-button{
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1100px) {
  .sechedule-day{
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 5px;
    font-size: 1em;
  }
  .master-image{

  }
  .sechedulename{
    font-size: 0.2em;
  }
  .sechedule-time{
    padding-top: 10px;
      font-size: 0.5em;
      word-wrap: break-word;;
  }
  .sechedule{
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
  }
  .sechedule-div{
    width: 100%;
  }
  .setting-right-button{
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 800px) {
#calendar-title{
  font-size: 3vh;
  padding-top: 7px;
}
      #img2{
            height: 20px
      }
#settings-button img{
  padding-top: 8px;
      padding-right:3px;
}
.sechedule-day{
  margin-left: 1px;
  margin-right: 1px;
  padding-top: 5px;
  font-size: 1em;
}
.master-image{
  display: none;

}
.sechedulename{
  font-size: 0.4em;
}
.sechedule-time{
    font-size: 0.4em;
    word-wrap: break-word;
      padding-top 5px;
}
.sechedule{
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
}
.sechedule-div{
  width: 100%;
}
.setting-right-button{
  width: 30px;
  height: 30px;
}
 #gym-name{
   font-size:2vh;
      }
}
