html{
overflow-y: hidden;
      height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

header{
  width:100%;
  height:6%;
  background-color: #FF6928;
  display: flex;
  justify-content:space-between;
  align-items:  center;
}
header div{
  height:100%;

}
.header-left-div,.header-right-div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header span{
  font-size:4vh;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
header img{
  height:100%;
}
.main-div{
  width:100%;
  height:90%;
  display: flex;
  align-items: center
}
.main-div-div{
  margin-left:2rem;
  width:35rem;
  height:15rem;
  border:2px solid #333333;
  border-radius: 15px;
  display:flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.main-div-div div{
  width:100%;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#time-button{

}
.main-div-div:hover{
  background-color: #FF6928 !important
}
#time-regist-point-day{
  width:100%;
  height:5rem;
  background-color:#222222;
  color:white;
  font-weight:bold;
  display:flex;
  font-size:6vh;
  text-align:center;
  align-items:center;
  justify-content:center;
}
.button-input-regist-div{
  display:flex;
  justify-content: space-around;
  margin-top:1rem;
  align-items:center
}
.button-input-regist{
  width:35%;
  height:15rem;
  border:1px solid #222222;
  border-radius:10px;
  font-size:10vh;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
  cursor: pointer;
}
.button-input-regist:hover{
  background-color: #FF6928 !important
}
#time-regist-point-time{
  font-size:8vh;
  font-weight:bold;
}

@media only screen and (max-width: 800px) {
  .main-div{
    flex-wrap: wrap;
  }
  .main-div-div{
    margin-left:1rem;
    width:14rem;
  }
  header span{
    font-size:3vh;
  }
  #time-regist-point-day{

    font-size:3vh;
  }
  #time-regist-point-time{
    font-size:6vh;
  }
  .button-input-regist{
    width:45%;
    height:10rem;
    font-size:6vh;

  }
}
