
body{
  width: 100%;
  height:100%;
  margin:0;
  padding: 0;
}

#dash{
    width: 100%;
    height:94vh;
   margin-bottom: 0px;
   overflow-y: hidden;
}

.naviband-span-title{
  background-color: #444444;
  width:14rem;
  height: 8vh;
  border:0px;
  margin-left: 5px;
  font-size: 1.5vw !important;
  overflow-wrap: break-word;
  display: flex;
  padding-left: 5px;
  align-items:flex-end;
  text-align: center;
  justify-content: center;
}
.naviband-span-title:hover{
  background-color: #FF8856;
}
#title-navi-main{
    font-size: 2vw;
    color: 	#DDDDDD;
    margin-right: 60px;
}
#dash #header{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #444444;
}
#header span{
  font-size: 2vw;
  color: 	#DDDDDD
}
#header div{
  display: flex;
  align-items:flex-end;
}
#dash #header select{
    border-radius: 10px;
    text-align: center;
    font-size: 2vw;
    border: 1px solid gray;
    cursor:pointer
}

.span-div{
  border:0.2px solid 	#BBBBBB;
  width:6.5rem;
  margin-left:1.5px;
  height:3rem;
  background-color: 	#7B3CFF;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.span-div-expense{
  border:0.2px solid 	#BBBBBB;
  width:6.5rem !important;
  height:100%;
  margin-left:1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:0px !important;
  margin-bottom:0px !important;
}

.span-div span{
  font-size: 2vw;
}
.span-div-title{
  width:12% !important;
  height:3rem;
  font-size: 1.4vw;
}

.span-div-expense-total{
  border:0.2px solid 	#BBBBBB;
  width:6.5rem !important;
  height:100%;
  margin-left:1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.span-div-title-width{
  width:99%;;
  height:3.1rem;
  margin-left:2.5px;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top:10px;
  background-color: #7B3CFF;
  color:White;
}
.span-div-title-width-gray{
  width:99%;
  height:3rem;
  margin-left:2.5px;
  margin-top:5px;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #666666;
  color:White;
}

.fluxo-div{
  width:10% !important;

}

.span-title-language{
  overflow: hidden;
  font-size:1vw !important;
  color:#333333
}
.dash-twrapper{
  display:flex;
  height:84vh;
}

.twrapper{
  height:100%;
 display: flex;
 flex-wrap: wrap;
 overflow-x: scroll;
  justify-content: flex-start;
}

.twrapper-div{
  display: flex;
  height:3rem;
  margin-top:4px !important;
  margin-bottom: 0px !important;
}
.twrapper-div-flex-right{
  width:18% !important;
  margin-right:5px;
  height:84vh;
}
.span-div-top5{
  margin-top: 5px;
  height:3.2rem
}
#row7{
  margin-top:10px !important;
}
#expense-title-gray{
  margin-top:20px !important;
}
#expense-title-2{
  margin-top:12px !important;
}

/* 500px以下の画面で適用 */
@media only screen and (max-width: 600px) {
  .mobile-scroll {
    overflow-y: auto; /* 横スクロール */
    -webkit-overflow-scrolling: touch; /* スマホでスムーズにスクロールできるように */
  }
#dash #header{
    width: 100%;
    height: 12rem;
    display: block;
}

.header-div{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content:  center;
}
.header-div span {
  margin-top:5px;
  width:100%;
  height:2rem;
  font-size:5vw !important;
}
#header-title{
  font-size:3vh;
}

#dash #header h3{
    font-size: 5vw;
    color: 	#DDDDDD;
    margin-right: 1%;
}
#dash #header select{
    width: 35%;
    height: 45%;
    margin-top: 10px;
    font-size: 2.5vw;
}
#selectyear{
font-size:5vw !important;
margin-left: 25%;
margin-right:5px;
}
#filter1{
  width:100%;
  height:2rem;
  font-size:5vw !important;
}
#btn-filter{
  width:15%;
  font-size:1.5vh;
}

.dash-twrapper{
  height:73vh;
}

}
