@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
  height:100%;
  overflow-y: hidden;
}
body {
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
  height:100%;
  background-color: #EEEEEE;
}
#title{
height:30%;
width: 100%;
font-size: 8vh;
color:#666666;
font-family:"Haettenschweiler";
display: flex;
align-items: flex-end;
justify-content: center;
}

#second-row{
  height:70%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}



input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

after { clear: both; }

#login {


  width: 325px;
  align-items: center;

}

#login form {
  margin: auto;
  padding: 22px 21px 22px 22px;
  width: 100%;
  border-radius: 5px;
  background: 		#EEEEEE;
  border: 1px solid #434a52;

}

#login form span {
  background-color: white;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

#login form input[type="text"] {
  background-color: white;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
    border: 1px solid #434a52;
}

#login form input[type="password"] {
  background-color: white;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
  border: 1px solid #434a52;
}

#login-bottom {
  background: #005FFF	;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
    text-align: center;
}
#login-bottom:hover {
  background: #00ECFF;
  color: black;
}
.sweet-alert{
  height: 400px;
}
