html{
overflow-y: hidden;
      height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
header{
  width:100%;
  height:6%;
  background-color: #FF6928;
  display: flex;
  justify-content:space-between;
  align-items:  center;
}
header div{
  height:100%;
}
.header-left-div,.header-right-div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header span{
  font-size:4vh;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
header img{
  height:100%;
}
.main-div{
  width:100%;
  height:90%;
}
.div-comon-division{
  width:100%;
  height:7%;
  display: flex;
  align-items: center;
}
.keihi-show-history{
  width:100%;
  height:90%;
  overflow-y: auto
}
.keihi-show-history-child{
  display: flex;
  height:2.5rem;
  border-bottom: 0.5px solid gray;
  align-items: center;

}


@media only screen and (max-width: 800px) {
  .main-div{
    flex-wrap: wrap;
  }
  .main-div-div{
    margin-left:1rem;
    width:14rem;
  }
  header span{
    font-size:3vh;
  }
  .div-comon-division{
    justify-content: space-around;
  }

  .datas-input-selects, .div-comon-division select{
    width:6rem;
    height:60%;
    text-align: center;
  }
  .inputs-kensaku{
    height:70%
  }
  .keihi-show-history-value ,.keihi-show-history-day{
    margin-left: 10px;
    width:5rem
  }
  .keihi-show-history-name{
    width:7rem
  }
  .totalcostsdiv{
    width:100%;
    height:6%;
    background-color: gray;
    display: flex;
    align-items: center;
  }
  .subtitles{
    align-items: flex-end;
  }
  .answers{
    width:7rem;
    color: white;
    font-weight: bold;
    font-size: 3vh;

  }
  .swalltitle{
    background-color: orange
  }
  .swall-displey-flex{
    display: flex;
    width:100%;
    margin-top:10px;
    border-bottom: 0.5px solid gray
  }
  .titles-left{
    width:10rem
  }
  .margintop-divds{
    margin-top: 10px
  }
  .closeSwaldivs{
    width:5rem;
    height:2rem;
    background-color:gray;
    color:white;
    margin-top: 30px;
    margin-left: 38%
  }
}
