*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:	#333333;

}
html{
width: 100%;
}
#header{
  width: 100%;
}
select{
  border-bottom: 1px solid lightgray;
  border-radius: 10px;
}
input{
  border-radius: 15px;
  font-size: 3vh;
  height:50px;
  cursor:pointer;
}
#titlemain{
  display: flex;
  font-size: 4vh;
  margin-top: 30px;
  margin-bottom: 15px;
}
header{
  margin-bottom: 10px;
}
#name-input{
  width:92%;
}
body{
  padding-left: 50px;
}
#gendercheck{
  display: flex;
}
.ECM_CheckboxInput {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.ECM_CheckboxInput-Input {
  margin: 0;
  width: 0;
  opacity: 0;
}
.ECM_CheckboxInput:hover{
  background: rgba(0,0,0,.05) !important;
}
.ECM_CheckboxInput:hover > .ECM_CheckboxInput-DummyInput{
  transform: scale(1.1);
}
.ECM_CheckboxInput-Input:focus + .ECM_CheckboxInput-DummyInput{
  transform: scale(1.1);
}
.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput {
  background: rgba(107, 26, 250, 1);
}
.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.ECM_CheckboxInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  border: solid 2px transparent;
  background: rgba(0, 0, 0, .15);
  border-radius: 50%;
  transition: all .15s linear;
}
.ECM_CheckboxInput-LabelText {
  margin-left: 2px;
  margin-top:7px;
  display: block;
  font-size: 3vw;
  font-weight: bold;
  color:gray;
}
#adress-input{
  width: 67%;
}
.phone{
  width: 29%;
}
#politc-span{
  margin-left:5%;
  width:90%;
    border: 2px solid lightgray;
    overflow-y: hidden;
    height:300px;
    text-align:left;
}
#email2{
  width: 30%;
}
#email1{
  width: 58%;
}
.birthday{
  width:24%;
  text-align: center;
  color:gray;
}
#birthday_age{
 width:18%;
 color:darkgray;
}
#language1{
  margin-right: 5%;
}
#language2{
  margin-right: 5%;
}
    #planscontainer{
  display:flex;
  margin-bottom: 15px;
  width: 100%;
  overflow-x: hidden;
}
#politic-div{
  margin-top: 15px;
}
.confirmbutton{
  width: 25%;
  border: 3px solid gray;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2vh;
}
.language-input-select{
  width: 25%;
  font-size: 2vh;
  text-align: center;
}
.language-input-select:hover{
  text-decoration: none;
  border: 2px solid gray;
  background-color: #5507FF;
  color:white;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}
.confirmbutton:hover{
    text-decoration: none;
    border: 2px solid gray;
    background-color: #5507FF;
    color:white;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
  }

  #selectlanguage{
    margin-top: 10px;
    height:50px;
    margin-left: 60% !important;
    width: 15%;
    font-size: 2vw;
    text-align: center;
  }
  #image{
     margin-left: 5px !important;
     height: 10vh;
     width:10%;
     margin-right: 15px !important;
  }

  .error-message{
    color:#EE0000;
    margin-left: 10px;
    font-size: 2vh;
    display: none;
  }
  .div-kirikae{
    margin-top: 20px;
    margin-bottom: 50px;
  }

.underbar{
  margin-top: 50px;
  width: 95%;
}

  .kubun-tilte{
    font-size: 5vh !important;
    color:#666666;
  }
  #kenselect{
    height: 50px;
    font-size: 4vh;
    color:gray;
  }


  .contentes a, .select-plan {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #00bfff;
    cursor: pointer;
    width:95%;
    margin-left: 2px;
    height:50px;
    font-size: 3vh;
    cursor: pointer;
  }
  .contentes a, .select-plan:hover{
    text-decoration: none;
    border: 2px solid gray;
    background-color: #5507FF;
    color:white;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
  }

  #btn-clear {
      height: 19px;
      width: 50px;
  }

  .signature {
      display: block;
      margin-top: 0px;;
  }

  canvas {
      height: 150px;
      width: 95%;
      background-color: white;
      border: 1px solid gray;
  }
  #confirm{
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    background-color: #555555;
  }
  .confirmbutton{
    margin-right: 30px !important;
    margin-left: 10px !important;
    width: 15%;

  }


.plan_value{
  margin-top: 15px;
  font-size: 4vh;
  overflow-x: hidden;
  text-align: center;

}
#planvalue-div{
  margin-bottom: 5px;
  border-bottom: 3px solid #EEEEEE;
}
.plan_name{
  font-size: 4vh;
  text-align: center;
  color: #0000ff;
  font-weight: bold;
    margin-bottom: 5px;
}
.discrition-span{
  font-size: 3vh;

}
.div-discrition-span{
  height:10%;
}
.center-span{
  display: flex;
  justify-content: center;
  width:100%;
}
#select_button{
  background-color:#00BFFF;
  width:90%;
    font-size: 4vh;
}

.family-block input{
  display:none;
}
.family-block{
  width:300px;
  position:relative;
  clear:both;
  margin:0 auto 25px;
  float: left;

}
.family-block span{
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:15px;

  width:220px;
  margin:5px 0 0;
}
.family-block label{
  width:80px;
  height:30px;
  box-sizing:border-box;
  border:3px solid #ccc;
  background:#ccc;
  float:left;
  border-radius:100px;
  position:relative;
  cursor:pointer;
  transition:.3s ease;
}
.family-block input[type=checkbox]:checked + label{
  background:#9057FF;
  border-color:blue;
}
.family-block input[type=checkbox]:checked + label:before{
  left:50px;
}
label:before{
  transition:.3s ease;
  content:'';
  width:20px;
  height:20px;
  position:absolute;
  background:white;
  left:2px;
  top:2px;
  box-sizing:border-box;
  border:none;
  color:#5507FF;
  border-radius:100px;
}
#plan-family-div{
  width:100%;
}
#planselect-div{
  width:35%;
}
.plan-select-plan-input{
  width:90%;
  background-color:#87CEEB;
  color:#444444;
}
#family-div{
  width:100%;
  margin-top: 10px;
  display: flex;
}
#family-div input{
  width:20%;
  margin-left: 50px;
  cursor: pointer;
}

#family-div input:hover{
background-color:#5507FF;
color:white;
}

.checkbox-gender{
  margin-top:15px;
width:3rem;
height:3rem;
margin-left: 20px;
cursor:pointer;
}

#politiccheck{
  display: flex;
}
.selectplan-input{
  color:	#333333;
  cursor:pointer;
  text-align: center;
  font-size:2.5vw;
}

#plans-div2{
  padding: 0 !important;
  width:98%;
  height:22rem;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  flex-wrap: nowrap;
  padding-left: 3vw;
  scroll-behavior: smooth;

}
.plan_main_new_div{
   display: inline-block;
  margin-top:15px;

  height:95%;
  border: 1px solid #333333;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #D9E5FF;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right:15px;
}
.plandisc{
  width:100%;
  height:2rem;
  font-size: 2.5vh;
  color: #444444
}
.plan_name_new{
  font-size: 4vh;
  color: #EEEEEE;
  font-weight: bold;
  margin-bottom: 5px;
  width:220px;
  background-color: #222222;
  border-radius:0 !important;
  text-align: center;
}
.plandisc_value{
  width:100%;
  font-size: 3vh;
  font-weight: bold;
  color:#444444;
  border-bottom: 2px solid #222222;
  border-radius:0 !important;
  text-align: center;
}
.plan-new-select-button{
  width:80%;
}
.plan-new-select-button:hover{
  background-color:#5507FF;
  color:white;
}

.politc-area{
  font-size:5vw;
}
@media screen and (max-width: 600px) {

  #family-div input{
    width:40%;
    margin-left: 10px;
    cursor: pointer;
  }

  .plan_name{
    font-size: 1.5vh;
  }
  .plan_value{
    font-size: 1.5vh;
  }
  .discrition-span{
  font-size: 1.5vh;
  }
  .plan-select-plan-input{
    font-size: 1.5vh;
  }

  .family-block{
    width:100%;
  }
  .family-block span{
    font-size:14px;
    width:190px;
    margin:0 0 0;
  }
  .family-block label{
    width:60px;
      height:25px;
  }
  .family-block input[type=checkbox]:checked + label:before{
    left:35px;
  }
  label:before{
    width:20px;
    height:15px;
  }



#body{
  width: 100%;
  background-color: #EEEEEE;
  overflow-x: hidden;
    padding-left: 5px;
}


  #selectlanguage{
    margin-top: 10px;
    height:50px;
    width: 30%;
    font-size: 4vw;
    text-align: center;
  }
#image{
     margin-left: 5px !important;
     height: 6.2vh;
     margin-right: 15px !important;
     width: 60px;
  }
  #titlemain{
    margin-top: 0;
    font-size: 3vh;
  }
.kubun-tilte{
  font-size: 3vh !important;
  color:#666666;
}
input{
  border-radius: 5px;
}

#kenselect{
  height: 50px;
    font-size: 2vh;
}
.container{
  height:200px;
  width: 14.5%;
  margin-right: 3px;
background-color: #AAAAAA;
border: 2px solid #333333;
border-radius: 1px;
}
.plan-valor{
  margin-top: 15px;
  font-size: 15px;
}
.detals{
  font-size: 1.4vh;
  height:90px;
}
#adress-input{
  width: 70%;
}
.contentes a, .select-plan {
  height:30px;
  font-size: 1.1vh;
}

#name-input{
  width:95%;
}
.phone{
  width: 28%;
}
.contentes a:hover{
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

#btn-clear {
    height: 19px;
    width: 50px;
}

.signature {
    display: block;
    margin-top: 0px;;
}

canvas {
    height: 150px;
    background-color: white;
    border: 1px solid gray;
}
#confirm{
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  background-color: #555555;
}
.confirmbutton{
  margin-right: 30px !important;
  margin-left: 10px !important;
   width: 25%;
}


.price{
  padding: 0;
}
.plan{
  font-size: 2vh;
}
}
