html{
overflow-y: hidden;
      height: 100%;
}

body {
  height: 100%;
  margin: 0;
}
#sotowaku {
  height: 100%;
}
#titlediv{
   height:5%;
   background-color: #222222;
   display: flex;
   align-items: center;
}
#gym-name{
  color:white;
  position: absolute;
  right: 0;
  font-size: 3vh;
}
#titlemain{
  text-align: left;
  margin-left: 0;
  font-size: 2Vh;
  color:lightgray;
}
#maindiv{
  display: flex;
  height:98%;
}

#right-board{
  background-color:#EEEEEE;
  width: 88%;
  height: 100%;
  display: flex;
}
#menubar{
  background-color: #555555;
  width:14%;
  padding-top: 20px;
  color:white;
}
#menubar-title{
  font-weight: bold;
  font-size: 4vh;
}

.servertitle{
    font-size: 4vh;
}
.master{
padding-top: 30px;
  font-size: 2vh;
}

#inscricao{
  padding-top: 5px;
  padding-left: 6px;
}
.menu-div{
  display: flex;
  align-items: center;
  margin-top: 20px;
 cursor: pointer;
 font-size: 3vh;
 width: 100%;
 transition: background 1s;
}
#add_member_div{
padding-left: 13px;
}
#right-first{
  height:15%;
  width:100%;
  display: flex;
  align-items: center;

}
.right-first-div{
  width: 32%;
  height:90%;
  background-color: #00BFFF;
  margin-left:15px;
  border-radius: 20px;
  display: flex;


  color:white;
  cursor: pointer;
}
#try{
  width: 100%;
  height: 100%;

}
.result-input{
  font-size: 10vh;
}
.atention-discrtion{
  padding-left: 15px;
  padding-top: 7px;
    font-size: 4vh;
}
.boarde{
  margin-left: 15px;
  margin-top: 20px;
  height:37%;
  width:98%;
  align-items: center;

}

.confirmbutton:hover{
    text-decoration: none;
    border: 2px solid gray;
    background-color: #5507FF;
    color:white;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
  }
  .menu-div:hover{
      background: #5507FF;
    }
    .right-first-div:hover{
      text-decoration: none;
      border: 10px solid #5507FF;
    }
    .result-right{
      display:flex;
    }

.half-div{
  width:49%;
  height:100%;
  border:0.3px solid #222222;
  background-color:white;
}
#right-second{
  display:flex;
}
#right-second a{
  font-size:1.5vw;
}
#right-second-left{
  width:70%;
}
#right-second-right{
  width:30%;
  height:100%;
  margin-left:0.5%;
}
#graph-area{
  height:500px;
}
canvas{
  height:500px;
}
#entrance-list-div{
  width:100%;
  height:100%;
  border:0.3px solid #222222;
  background-color:white;
}

@media screen and (min-width: 501px) and (max-width: 725px) {
 #menubar{
  width:15%;
height:600px;
}
.right-first-div{
  width: 95%;
  height:55px;
  margin-top: 10px;
  padding-bottom: 3px;
  margin-left: 10px;
}
  #right-board{
  width: 85%;
}
.atention-discrtion{
  width:100%;
  padding-top: 0px;
  font-size: 1.2em;
  padding-left: 0px;
  height:100%;
  overflow: hidden;

}
  .result-input{
    font-size: 2em;
    margin-left: 20px;
    margin-top: 0px;
    width:70px;
  }

      .title-bottons{
        display:none;

      }
      .menu-div{
        margin-left: 20%;
      }
      #menubar-title{
        margin-left: 10%;
        font-size: 1.5em;
      }

    #right-first{
      display:block;
    }

    .right-first-div{
      width: 95%;
      height:55px;
      margin-top: 10px;
      padding-bottom: 3px;
      margin-left: 10px;
    }
    #right-second{
      margin-top:2px;
    }
#right-first{

  height:200px;
}
#member-total{
  margin-left: 2px;
}
}

@media screen and (min-width: 2160px){
  .right-first-div{
    background-color: red;
  }
}


@media screen and (min-width: 726px) and (max-width: 1200px) {
#menubar{
  width: 12%;
  height:600px;
}
#add_member_div{
  padding-left: 0;
  margin-left: 0;

}
#menubar-title{
  margin-left: 20%;
  margin-bottom: 15%;
}

.right-first-div{
width:32%;
}
.result-input{
  font-size: 3em;
  margin-left: 1px;
    margin-top: 2%;
}
.atention-discrtion{
  margin-left: 1px;
  font-size: 1em;
  margin-top: 3%;
}
#menbers-discrtion{
  margin-left: 1px;
  margin-top: 6%;
}
#member-total{
    margin-top: 5%;
}
.master-image-menu{
  width: 20%;
}
.menu-div{
  width: 100%;
  display: block;
  margin-top: 2px;
  text-align: center;
  align-items: center;
}
.master-image{

}
.title-bottons{
  width: 100% !important;
    font-size: 1em;
}
}

@media screen and (max-width: 500px) {
  #maindiv{
    display:block;
  }
  #menubar{
    width:100%;
    height:50px;
    display: block;
    flex-wrap: nowrap;
      padding-top: 0px;
  }

  #menubar-title{
    padding-top: 0;
    font-size: 2vh;
    margin-bottom: 0;
    display:none;
    height:0;
  }
  .title-bottons{
    display:none;
  }
  .menu-div{
    margin-right: 1%;
    margin-left: 0px;
    margin-top: 0px;
  }

  #menuber-bottons-title{
    display: flex;
    margin-top: 0px;
  }
  #right-board{
    display: block;
    width: 100%;
  }
  #right-first{
    height:200px;
    width:100%;
    display: block;
    align-items: center;
  }

  .result-input{
    font-size: 2em;
    margin-left: 10px;
    margin-top: 0px;
    width:70px;
  }
  .result-right{
    display: flex;
  }
  .atention-discrtion{
    width:100%;
    padding-top: 0px;
    font-size: 1.2em;
    padding-left: 0px;
    height:100%;
    overflow: hidden;

  }
  .right-first-div{
    width: 95%;
    height:55px;
    margin-top: 10px;
    padding-bottom: 3px;
    margin-left: 10px;
  }
  .master-image-menu{
    width: 15%;
  }
  .boarde{
    margin-left: 10px;
    margin-top: 3px;
    height:200px;
    width:95%;
    align-items: center;

  }
    .right-first-div:hover{
      text-decoration: none;
      border: 4px solid #5507FF;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1450px) {
 .title-bottons{
      font-size: 0.8em;
  }
  .atention-discrtion{
    margin-top:18px;
    font-size: 2.5vh;
  }
  .result-input{
    font-size: 8vh;
  }
  #menubar{
    width:13%;
  }
  #payment-yet{
    margin-top:5px;
  }
      #ex_chart{
    height:260px;
  }
}
