*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:	#333333;

}
html{
width: 100%;
}
#header{
  width: 100%;
}
select{
  border-bottom: 1px solid lightgray;
  border-radius: 10px;
}
input{
  border-radius: 5px;
  font-size: 3vh;
}
#titlemain{
  display: flex;
}
header{
  margin-bottom: 10px;
}
#name-input{
  width:95%;
}
body{
  padding-left: 5px;
}
#gendercheck{
  display: flex;
}
.ECM_CheckboxInput {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.ECM_CheckboxInput-Input {
  margin: 0;
  width: 0;
  opacity: 0;
}
.ECM_CheckboxInput:hover{
  background: rgba(0,0,0,.05) !important;
}
.ECM_CheckboxInput:hover > .ECM_CheckboxInput-DummyInput{
  transform: scale(1.1);
}
.ECM_CheckboxInput-Input:focus + .ECM_CheckboxInput-DummyInput{
  transform: scale(1.1);
}
.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput {
  background: rgba(107, 26, 250, 1);
}
.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.ECM_CheckboxInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  border: solid 2px transparent;
  background: rgba(0, 0, 0, .15);
  border-radius: 50%;
  transition: all .15s linear;
}
.ECM_CheckboxInput-LabelText {
  margin-left: 12px;
  display: block;
  font-size: 3vw;
  font-weight: bold;
  color:gray;
}
#adress-input{
  width: 70%;
}
.phone{
  width: 28%;
}
#email2{
  width: 30%;
}
#email1{
  width: 58%;
}
.birthday{
  width:24%;
  text-align: center;
}
#birthday_age{
 width:18%;
}
#language1{
  margin-right: 5%;
}
#language2{
  margin-right: 5%;
}
#planscontainer{
  display:flex;
  margin-bottom: 15px;
  width: 100%;
  overflow-x: hidden;
}
#politic-div{
  margin-top: 15px;
}
.confirmbutton{
  width: 25%;
  border: 3px solid gray;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2vh;
}
.language-input-select{
  width: 25%;
  font-size: 2vh;
  text-align: center;
}
.language-input-select:hover{
  text-decoration: none;
  border: 2px solid gray;
  background-color: #5507FF;
  color:white;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}
.confirmbutton:hover{
    text-decoration: none;
    border: 2px solid gray;
    background-color: #5507FF;
    color:white;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
  }

@media screen and (max-width: 500px) {


#body{
  width: 100%;
  background-color: #EEEEEE;
  overflow-x: hidden;
}

  #selectlanguage{
    margin-top: 10px;
    height:50px;
    margin-left: 60% !important;
    width: 30%;
    font-size: 4vw;
    text-align: center;
  }
  #image{
     margin-left: 5px !important;
     height: 6vh;
     width:15%;
     margin-right: 15px !important;
  }
.kubun-tilte{
  font-size: 3vh !important;
  color:#666666;
}
#titlemain{
  margin-bottom: 15px;
}

input{
  height: 50px;

}
#kenselect{
  height: 50px;
}
.container{
  height:200px;
  width: 14.5%;
  margin-right: 3px;
background-color: #AAAAAA;
border: 2px solid #333333;
border-radius: 1px;
}
.plan-valor{
  margin-top: 15px;
  font-size: 15px;
  overflow-x: hidden;
}
.detals{
  font-size: 1.4vh;
  height:90px;
}
.contentes a, .select-plan {
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #00bfff;
  cursor: pointer;
  width:95%;
  margin-left: 2px;
  height:30px;
  font-size: 1.1vh;

}

.contentes a:hover{
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

#btn-clear {
    height: 19px;
    width: 50px;
}

.signature {
    display: block;
    margin-top: 0px;;
}

canvas {
    height: 150px;
    width: 100%;
    background-color: white;
    border: 1px solid gray;
}
#confirm{
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  background-color: #555555;
}
#confirm-button{
  margin-right: 30px !important;
  margin-left: 10px !important;

}

.error-message{
  color:#EE0000;
  margin-left: 10px;
  font-size: 2vh;
  display: none;
}
.div-kirikae{
  margin-top: 50px;
}
.price{
  background-color: pink;
  padding: 0;
}
.plan{
  font-size: 1.5vh;
}
}


